.bloco{
    width: 1196px;
     position: relative;
     margin: 0 auto;
 }

nav{
    position: absolute; 
    right: 0;
    font-size: 22px;
    top: 140px;
 }

 nav li {
    display: inline;
    margin-left: 15px;
}

h1{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    text-shadow: black 3px 3px;
    font-style: italic;
    margin-top: 0px;
}

h2{
    margin: 0px;
}

h3{
    color:rgb(178, 77, 236);
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-shadow: black 3px 3px;
    font-style: italic;
}

.home2 {
    position: absolute;
    top: 403px;
    margin: 35px 31%;
}

.home3{
    position: absolute;
    top: 584px;
    margin: 35px 770px 31%;
    color:rgb(255, 197, 89);
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-shadow: black 3px 3px;
    text-decoration: none;
    background-color:rgb(178, 77, 236) ;
}

.link{
    font-size: 40px;
    color: rgb(255, 197, 89);
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    top: 10px;
    font-style: italic;
}

.link:hover{
    color: rgb(178, 77, 236);
    font-size: 45px;
}

.foto{
    width: 300px;
    height: 300px;
}

.fundo{
    background-color: rgb(59, 56, 56);
}

.bg{
    background-image: url(biceps.jpg);
    height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 140px;
}

.rodape-itens{
    position: absolute; 
    right: 0;
    font-size: 22px;
    top: 140px;
    color: rgb(255, 197, 89);
    font-family: 'Cabin', sans-serif;
}

.cadastro{
   color: rgb(255, 197, 89);
   font-family: 'Anton', sans-serif;
   font-size: 23px;
   text-decoration: none;
   font-style: italic;
   text-align: right;
   margin: 10px;
   position: absolute; 
   right: 0;
   top: 30px;
   list-style-type: none;
}

.cadastro:hover{
    color:  rgb(178, 77, 236);
    font-size: 28px;
}

.login{
    color: rgb(255, 197, 89);
    font-family: 'Anton', sans-serif;
    font-size: 23px;
    text-decoration: none;
    font-style: italic;
    text-align: right;
    margin-right: 30px;
    position: absolute; 
    right: 0;
    top: 15px;
    list-style-type: none;
}

.login:hover{
    color:  rgb(178, 77, 236);
    font-size: 28px;

}

.login_ul{    
    margin: 0;
    list-style-type: none;
}

.subtitulo{
    text-align: center;
    font-size: 40px;
    color:rgb(255, 197, 89); ;
    text-shadow: black 3px 3px;
}

.fundo2{
    color: rgb(178, 77, 236);
}

.cadastro_h1{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(255, 197, 89);
    text-shadow: black 3px 3px;
    font-style: italic;
    margin-top: 0px;
}

.caixa_texto{
    width: 25%;
    height: 35px;
    border-color: chocolate;
    border-radius: 15px;
    margin: 40px auto 0px auto;
    display: block;
    
  }

  .caixa_texto_grande{
    width: 50%;
    height: 250px;
    border-color: chocolate;
    border-radius: 10px;
    margin-top: 70px;
    margin: 0px;
  }

 .bug{
    text-decoration: none;
    color:rgb(255, 197, 89);
 }
 .botao_castrar{
        margin: 40px auto 0px auto;
        display: block;
        font-size: 40px;
        font-family: 'Anton', sans-serif;
        color:  rgb(255, 197, 89);
        background-color: rgb(178, 77, 236);
        border: none;
        text-decoration: none;
    }

  .botao_login{
    margin: 40px auto 0px auto;
    display: block;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color:  rgb(255, 197, 89);
    background-color: rgb(178, 77, 236);
    border: none;
    text-decoration: none;
  }

  .botao_senha{
    margin: 40px auto 0px auto;
    display: block;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color:  rgb(255, 197, 89);
    background-color: rgb(178, 77, 236);
    border: none;
    text-decoration: none;
  }

  .caixa_texto::placeholder{
    font-size: 20px;
  }

  .primary_button{
    background-color: rgb(178, 77, 236) ;
    font-size: 30px;
    color: rgb(255, 197, 89);
    font-family: 'Anton', sans-serif;
    border-radius:8px ;
    display: block;
    margin: 30px auto;
  }


.foto_produtos {
    width:300px;
    height:300px;
}

.produtos {
   padding: auto 30px;
}

.home1 {
    background-color:  rgb(36, 35, 35);
    color: rgb(255, 197, 89);
    
}

.subtitulo_home {
    width: 49%;
    font-size: 30px;
    color: rgb(255, 197, 89);
    font-family: 'Cabin', sans-serif;
    margin-top: 5px;
    text-align: justify;
    width: 50%;
    display: inline-block;
    padding: 200px 50px;
}

.saiba_mais{
    font-size: 25px;
    color:rgb(255, 197, 89);
    padding-left: 30px;
    display: inline;
    right: 1px;
}

.img_saiba{
    background-image: url(img2.jpg);
    height: 494px;
    width: 494px;   
    right: 15px;
    position: absolute;
}

.div_saiba {
    display: inline-block;
}

.final{
    background-image: url(FinalHome.png);
    height: 800px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 140px;
}

.cor-Contato{
    background-color: navajowhite;
}

.titulo_contato{
    font-size: 70px;
    color: chocolate;
    font-family: 'Anton', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 0px;
  }

  .subtitulo{
    font-size: 55px;
    color: rgb(111, 48, 3);
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }

  .caixa_texto{
    width: 50%;
    height: 35px;
    border-color: chocolate;
    border-radius: 10px;
    margin: 35px auto;
  }

  .caixa_texto_grande{
    width: 50%;
    height: 250px;
    border-color: chocolate;
    border-radius: 10px;
    margin-top: 70px;
    display: block;
    margin: auto;
  }

  .botao-contato{
    background-color: navajowhite ;
    font-size: 30px;
    color: rgb(178, 77, 236);
    font-family: 'Anton', sans-serif;
    border-radius:8px ;
    display: block;
    margin: auto;
    margin-top: 10px;
  }